build_scripts=<gluex-top>/build_scripts
function gxclean() { source $BUILD_SCRIPTS/gluex_env_clean.sh; }
function gxenv() { gxclean; \
    source <gluex-top>/gluex_env_local.sh $1
    }
unset build_scripts
